<section class="price__container">
  <h2 class="price__title">
    Fork Subscription Pricing
  </h2>

  <ul class="price__content">
    <li class="price__list">
      <h3 class="list__title">Students</h3>
      <div class="list__content">
        <p class="list__price">$29</p>
        <p class="list__text">per month</p>
        <img src="../../img/line.png" alt="" class="list__line">
        <p class="list__description">Professional License</p>
        <button class="list__button" type="submit">purchase</button>
      </div>

    </li>
    <li class="price__list">
      <h3 class="list__title">professional</h3>
      <div class="list__content">
        <p class="list__price">$59</p>
        <p class="list__text">per month</p>
        <img src="../../img/line.png" alt="" class="list__line">
        <p class="list__description">Professional License Email Support</p>
        <button class="list__button" type="submit">purchase</button>
      </div>

    </li>
    <li class="price__list">
      <h3 class="list__title">agency</h3>
      <div class="list__content">
        <p class="list__price">$99</p>
        <p class="list__text">per month</p>
        <img src="../../img/line.png" alt="" class="list__line">
        <p class="list__description">1-12 Team Members Phone Support</p>
        <button class="list__button" type="submit">purchase</button>
      </div>

    </li>
    <li class="price__list">
      <h3 class="list__title">enterprise</h3>
      <div class="list__content">
        <p class="list__price">$159</p>
        <p class="list__text">per month</p>
        <img src="../../img/line.png" alt="" class="list__line">
        <p class="list__description">Unlimited Team Members 24/ 7 Phone Support</p>
        <button class="list__button" type="submit">purchase</button>
      </div>

    </li>
  </ul>
</section>