// @import '../components/**/*.scss';
// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400&display=swap');

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
}

*{
  margin: 0;
  padding: 0;
}

#menu__toggle {
  opacity: 0;
  position: absolute;
  right: 30px;
}

/* Стили для header */
.header {
  min-width: 1200px;
  background-image: url('../img/backgraund/header_bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: 100vw;
  height: 100vh;
}

.navbar {
  padding-top: 31px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.header_logo {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  display: flex;
}
.header_logo h2 {
  padding-left: 20px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(141, 129, 172, 1);
}

/* Стили для меню */
.menu-items {
  display: flex;
  text-align: center;
  align-items: center;
}

.menu-items li > a {
  padding: 0 30px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(141, 129, 172, 1);
}

.header-button{
  list-style: none;
  width: 145px;
  height: 38px;
  background: rgba(141, 129, 172, 1);
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

// fork app
.fork-up > h1,
.fork-up > h2,
.fork-up > p {
  margin: 0; /* Убираем отступы сверху и снизу между текстовыми элементами */
}

.fork-up {
  padding-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.fork-up > h1 {
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  color: rgba(255, 255, 255, 1);
}

.fork-up > h2 {
  padding-top: 12px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(141, 129, 172, 1);

}

.fork-up > p {
  padding-top: 25px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: rgba(132, 142, 151, 0.4);

}
.bottom-donwload {
  list-style: none;
  width: 360px;
  height: 62px;
  background: rgba(141, 129, 172, 1);
  border: none;
  border-radius: 30px;
  color: white;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  position: absolute;
  bottom: -8px; // потом тут просто поменять и все 
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .navbar {
    background: rgba(39, 38, 42, 1);
    width: 480px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
  }

  .header_logo {
    margin: 15px;
    margin-bottom: 30px;
  }
  .header_logo h2 {
    display: none; /* Скроем текст "ForkIO" */
  }

  .navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Добавляем выравнивание по вертикали */
  }

  .menu-items > li > a {
    color: rgba(255, 255, 255, 1);
  }

  .header-button {
    display: block;
    width: 119px;
    height: 37px;
    background: #8d81ac;
    position: absolute;
    top: 35px;
    left: 35%;
    cursor: pointer;
  }
  // fork app
  .fork-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -179%);
    text-align: center;
  }
  .fork-up h1 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }
  
  .fork-up h2 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(141, 129, 172, 1);
    width: 200px;
  }
  
  .fork-up p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }

  // гамбургер
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 38px;
    right: 9%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    height: 3px;
    background-color: white;
    transition-duration: 0.25s;
  }
  .menu__btn > span::after,
  .menu__btn > span {
    width: 26px;
  }

  .menu__btn > span::before {
    width: 13px;
    left: 13px;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu-items {
    display: block;
    position: fixed;
    visibility: hidden;
    top: -378px;
    left: 35px;
    right: 20px;
    width: calc(100% - 80px);
    height: 220px;
    list-style: none;
    background: rgba(51, 51, 51, 1);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    overflow-y: auto;
    z-index: 2;
  }
  
  .menu-items > li {
    display: block;
    padding: 12px 24px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    transition: 0.25s;
    border-bottom: 1px solid gray;
    cursor: pointer;
  }
  
  .menu-items > li.active {
    border-left: 8px solid rgba(141, 129, 172, 1);
    color: rgba(141, 129, 172, 1);
  }
  
  .menu-items > li:focus {
    outline: none; 
    background: rgba(141, 129, 172, 1); 
    
  }

  
  
  .menu-items > li:active {
    color: rgba(141, 129, 172, 1);
    border-left: 8px solid rgba(141, 129, 172, 1);
    padding-right: 20px;
  }
  
  
  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu-items {
    visibility: visible;
    top: 91px; /* Показываем плашку с верху */
  }
  

  // кнопка внизу
  .bottom-donwload {
    width: 290px;
    height: 45px;
    border-radius: 40px;
    margin-left: -8px;
    cursor: pointer;
  } 
}

// 760

