@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: #011312;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: 0;
}

.features__container{
  max-width: 280px;
  margin: 80px auto 120px;
  text-align: center;
}

.features__title{
  color: #635C73;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 27px;
}

.features__text{
  color: #323232;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.features__buttons{
  width: 290px;
  display: flex;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 36px auto 120px;
}

.button__content {
  overflow: hidden;
  font-family: "Segoe UI",sans-serif;
  font-size: 0;

  & .btn, .button__count{
    padding: 6px 8px;
    display: inline-flex;
    font-size: 12px;
    color: #24292f;
    font-weight: 600;
    vertical-align: bottom;
    cursor: pointer;
    border: 1px solid;
    background-color: #ebf0f4;
    border-color: #ccd1d5; 
    border-color: rgba(31,35,40,.15);
    border-radius: 0.25em 0 0 0.25em;
    line-height: 16px;
  }
  
  & .button__count {
    color: #24292f;
    background-color: #fff;
    border-left: 0;
    border-radius: 0 0.25em 0.25em 0;
    border-color: rgba(31,35,40,.15);
  }

  & span{
    padding-left: 5px;
  }
}

.feature__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;

}

.features__title2{
  color: #8D81AC;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  margin-bottom: 36px;
}

.feature__content-title{
  color: #323232;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  margin-top: 27px;
}

.feature__content-text{
  color: #848E97;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 14px 0 39px;
}

.feature__photo{
  margin: 12px 0 6px;
  max-width: 275px;
  height: 381px;
  object-fit: cover;
  object-position: 0% 0;
  position: absolute;
  right: 0;
}

@media screen and (min-width: 767px) {
  
  .features__container{
    min-width: 767px;
  }

    
  .features__title{
    font-size: 46px;
  }

  .features__text{
    font-size: 24px;
  }

  .features__buttons{
    width: 420px;
  }

  .feature__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .feature__img{
    margin: 0 auto;
  }

  .features__title2{
    font-size: 53px;
  }
  
  .feature__main{
    max-width: 620px;
  }

  .feature__content-title{
    text-align: left;
    font-size: 20px;
  }
  
  .feature__content-text{
    text-align: left;
    font-size: 17px;
  }
  
  .feature__photo{
    float: right;
    max-width: 700px;
    height: 519px;
  }

}

@media screen and (min-width: 1200px) {
  
  .features__container{
    min-width: 1200px;
    width: 1300px;
    max-width: 1900px;
    // width: clamp(1200px, 1300px, 1900px);
  }

    
  .features__title{
    font-size: 54px;
  }

  .features__text{
    font-size: 21px;
    max-width: 861px;
    margin: 0 auto;
  }

  .features__buttons{
    width: 420px;
  }

  .feature__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 526px;
  }
  
  .feature__body{
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .feature__img{
    margin: 0 auto;
  }

  .features__title2{
    font-size: 53px;
    position: absolute;
    top: 17px;
    right: 30px;
  }
  
  .feature__main{
    max-width: 390px;
  }

  .feature__content-title{
    text-align: left;
    font-size: 16px;
  }
  
  .feature__content-text{
    text-align: left;
    font-size: 14px;
  }
  
  .feature__photo{
    float: right;
    max-width: 700px;
    height: 519px;
    margin-top: 70px;
  }

}